
body {
    width: 100%;
    margin: 0 auto;
    max-width:700px;
    background: #eff4fa;
}

h1 {
    display: inline-flex;
    margin-top: 70px;
    color: #3c3d3d;

}

table {
    background-color: white;
    font-family: arial, sans-serif;
    text-align: left;
    width: 100%; 
    border-collapse: collapse;
    
}

th, td {
    padding: 10px;
    border: 1px solid #525558f5;
    width: 20px;
}

tr:nth-child(odd) {
    background-color: #ddd;
}

tr:hover {
    background-color: #369681;
    color: white;
}

.views  {
    text-decoration: none;
    color: black;
}

.login{
    float: right;
    margin-top: 60px;
}

.boton1 {
    width: 80px;
    height: 40px;
    font-weight: bold;
    background-color: #4CAF50;
    color: #ddd;
    border-radius: 7px;
    cursor: pointer;
}
.boton1:hover {
    background-color: #3e8e41;
}

.form {
    display: flex;
    width: 92.5%;
    justify-content: space-around;
    border: #525558f5 1px solid;
    padding: 25px;
    margin: auto;
}

.flex {
    display: inline-block;
}

.flex input {
    width: 160px;
}

.boton {
  box-shadow: 3px 3px 12px #999;
  font-size: 15px;
  font-weight: bold;
  color: #3c3d3d;
  border-radius: 5px;
}

.main-container {
    margin-top: 40px;
}

.p-table {
    margin-bottom: 30px;
    font-weight: bold;
    color: #3c3d3d;
}

.p-form {
    font-weight: bold;
    color: #3c3d3d;
}