*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 400px;
	margin: 100px auto;
    background: #eff4fa;
    background-image: url("file:///home/elias/Documentos/Diseño Web/Proyecto-1/images/dark.jpg"); 
}

.avatar {
    width: 50px;
    height: 50px;
    float: left;
    margin-top: 20px;
    margin-left: 175px;

}
.back {
	margin-left: 348px;
}

.back button {
	background: #d66700;
	color: rgb(2, 2, 2);
	border: none;
	border-radius: 10px; 
	font-weight: bold;

}
.back button:hover {
	background: rgb(189, 20, 20);
	color: black;
}

form {

    border: 1px solid #CED5D7;
	border-radius: 6px;
	padding: 45px 45px 20px;
	margin-top: 10px;
	background-color: white;
	box-shadow: 0px 5px 10px #B5C1C5, 0 0 0 10px #EEF5F7 inset;
}

input {
    display: block;
    padding: 10px;
    width: 100%;
    margin: 25px 0;
    font-size: 20px;
    
}

input[type="submit"]{
    background: linear-gradient(#009432,#27ae60);
    border: 0;
    color: white;
    opacity: 0.8;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 100px;
    margin-left: 90px;
}
input[type="submit"]:hover {
    opacity: 1;
}

input[type="submit"]:active {
    transform: scale(0.95);
}

a {
    /* text-decoration: none; */
    color: #2980b9;
    font-weight: bold;    
}

p {
    /* margin-top: 4px; */
    color: #3c3d3d;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #3c3d3d;
}