body {
	font-size: 14px;
	font-family: sans-serif;
	background: #eff4fa;
	width: 100%;
	margin:  auto;
    max-width:700px;
}

.back {
	float: right;
	display: inline-flex;
}

.back button {
	background: #d66700;
	color: rgb(2, 2, 2);
	border: none;
	border-radius: 10px; 
	font-weight: bold;
}
.back button:hover {
	background: rgb(189, 20, 20);
	color: black;
}
nav {
	margin: 40px 30px auto 0;
	position: relative;
	width: 312px;
	height: 50px;
	background-color: #2175bc;
	border-radius: 8px;
	font-size: 0;
    
}

nav a {
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-align: center;
	color: white;
    cursor: pointer;
    border-right: 1px solid rgb(221, 213, 213);
}
nav a:last-child{
    border-right: none;
}
nav  a:hover {
    background: #1b8129;
    border-radius: 8px;
    transition: all .3s;
}

a:nth-child(1) {
	width: 100px;
}
a:nth-child(2) {
	width: 110px;
}
a:nth-child(3) {
	width: 100px;
}

.focus {
	background: #1b8129;
    border-radius: 8px;
    transition: all .3s;
}

img {
	border: 2px solid black;
}
.image {
    float: right;  
}

.login  {
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}

.id{
    font-weight: bold;
    color: #d66700;
    font-size: 12px;
}

table {
	font-family: arial, sans-serif;
    border-collapse: collapse;
	width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
	padding: 8px;

}


tr:nth-child(odd) {
    background-color: #dddddd;
}

table caption {
	text-align: left;
	padding: 15px;
}

.enlaces  {
	text-decoration: none;
	color: #3a3d3ff5;
}
.contenedor-tabla {
	border: darkgray 2px solid;
	padding: 10px 20px 60px 15px;
	border-radius: 8px;
}

p {
	font-weight: bold;
}

a {
	color: #1375a7;
	font-weight: bold;
}

.caption {
	float: left;
}
.agregar1 {
	float: right;
	margin-top:20px;
	width: 34px;
	height: 34px;
	border: 2px solid gray;
	border-radius: 3px;
	background: url("file:///home/elias/Documentos/Diseño Web/Proyecto-1/images/Add.png");
	margin-top: 4px;
}

.agregar2 {
	float: right;
	background: url("file:///home/elias/Documentos/Diseño Web/Proyecto-1/images/Add.png");
	width: 34px;
	height: 34px;
	border-radius: 3px;
	border: 2px solid gray;
	margin-top: 15px;
}

.agregar1:hover {
	cursor: pointer;
	border: 2px solid #1375a7;;
}

.agregar2:hover {
	cursor: pointer;
	border: 2px solid #1375a7;;
}