*{
    font-family: sans-serif;
	font-size: 12px;
	color: dimgray;
}

body{
	width: 400px;
	margin: auto;
	background: #eff4fa;
    background-image: url("file:///home/elias/Documentos/Diseño Web/Proyecto-1/images/bus.jpg");
}

.back {
	margin-left: 345px;
}

.back button {
	background: #d66700;
	color: rgb(2, 2, 2);
	border: none;
	border-radius: 10px; 
	font-weight: bold;
	margin-top: 20px;
}
.back button:hover {
	background: rgb(189, 20, 20);
	color: black;
}

.registro{
    border: 1px solid #CED5D7;
	border-radius: 6px;
	padding: 45px 45px 20px;
	margin-top: 10px;
	background-color: white;
	box-shadow: 0px 5px 10px #B5C1C5, 0 0 0 10px #EEF5F7 inset;
}

.registro label{
	display: block; /* esto es para que el label se sobreponga a la caja de texto */
	font-weight: bold;
}
.registro div{
	margin-bottom: 15px; /* esto los separara un poco */
}
.registro input[type='text']{
	padding: 7px 6px;
	width: 294px; /* una longitud definida */
	border: 1px solid #CED5D7;
	box-shadow:0 0 0 3px #EEF5F7;
	margin: 5px 0;
}
.registro input[type='tel']{
	padding: 7px 6px;
	width: 294px; /* una longitud definida */
	border: 1px solid #CED5D7;
	box-shadow:0 0 0 3px #EEF5F7;
	margin: 5px 0;
}
.registro input[type='password']{
	padding: 7px 6px;
	width: 294px; /* una longitud definida */
	border: 1px solid #CED5D7;
	box-shadow:0 0 0 3px #EEF5F7;
	margin: 5px 0;
}

.registro input[type='submit']{
	border: 1px solid #CED5D7;
	box-shadow:0 0 0 3px #EEF5F7;
	padding: 8px 16px;
	border-radius: 7px;
	font-weight: bold;
	color: white;
	text-shadow: 1px 1px 0px rgb(99, 93, 93);
	background: #1375a7; /* fallback para navegadores que no soporten degradados */
}

.registro input[type='submit']:hover{
	background: #1b8129;
    background: -webkit-linear-gradient(top, #138a2d 0%,#288f3e 100%);
}

.boton {
    display: flex;
    justify-content: center;
}
 
span a {
	color: #1375a7;
	font-weight: bold;
}

p {
	font-weight: bold;
}