
body {
    font-size: 14px;
	font-family: sans-serif;
    width: 100%;
    background: #eff4fa;
    margin: 0 auto;
    max-width: 800px;
}

.back {
	float: right;
	display: inline-flex;
}

.back button {
	background: #d66700;
	color: rgb(2, 2, 2);
	border: none;
	border-radius: 10px; 
	font-weight: bold;
}
.back button:hover {
	background: rgb(189, 20, 20);
	color: black;
}


nav {
	margin: 40px 30px auto 0; /*para acomodar el menú*/
	position: relative;
	width: 302px;
	height: 50px;
	background-color: #2175bc;
	border-radius: 8px;
	font-size: 0; 
}

nav a {
	line-height: 50px; /*para centrar el texto*/
	height: 100%;
	font-size: 15px;
	display: inline-block; /*separa los botones*/
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-align: center;
	color: white;
    cursor: pointer;
    border-right: 1px solid rgb(221, 213, 213);
}

nav a:last-child{
    border-right: none; /* quita el separador del último elementos del menú*/
}
nav  a:hover {
    background: #1b8129;
    border-radius: 8px;
    transition: all .3s;
}
a:nth-child(1) {
	width: 100px;
}
a:nth-child(2) {
	width: 100px;
}
a:nth-child(3) {
	width: 100px;
}
.focus {
    background: #1b8129;
    border-radius: 8px;
    transition: all .3s  
}

.login > p {
    font-weight: bold;
}
.id{
    font-weight: bold;
    color: #d66700;
    font-size: 12px;
}
a {
	color: #1375a7;
	font-weight: bold;
}
img {
    border: 2px solid black;
}
.image {
    float: right;  
}
.login  {
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}
.edit {
    color: #3a3d3ff5; 
}

.form1 {
    padding: 35px 65px 10px;
}
.form1 label {
    display: block;
    font-weight: bold;
    color: #3a3d3ff5;
    margin-bottom: 5px;
}
.form1 input {
    width: 225px;
    height: 20px;
}
.form1 div {
    margin-bottom: 10px;
}
.start {
    float: left;
}
.End {
    margin-left: 270px;   
}
.description {
    margin-top: 30px;
}

hr {
    border-top: darkgray 2px solid;
    margin-top: 2px;   
}

.form2 div {
    margin-bottom: 10px;
}
.form2 {
    display: flex;
    justify-content: space-around;
    margin-right: 170px;
}
.block input {
    display: block;
    margin-top: 5px;
}
.block label {
    font-weight: bold;
    color: #3a3d3ff5;
}
.hora1 {
    width: 110px;
    height: 20px;
}
.hora2 {
    width: 110px;
    height: 20px;
}

h3 {
    margin-left: 65px;
    display: inline-flex; /*para quitarle todo el espacio del display block */
    margin-top: 10px;
    color: #3a3d3ff5;
}
.flex {
    display: inline-block; 
}

p {
    margin-bottom: 10px;
    margin-top: 5px;
    font-weight: bold;
    color: #3a3d3ff5;
}

input {
    color: #343638f5;
}

.enlace-boton {
    margin-top: 50px;
    margin-bottom: 100px;
}
.enlace {
    margin-left: 100px;
}  
.boton {
    margin-left: 330px;
    background: #1b8129;
    color: white;
    font-weight: bold;
    height: 30px;
    width: 80px;
    border-radius: 5px;
    border: none;
    font-size: 17px;
}
.boton:hover {
    background: #d66700;
    cursor: pointer;
}