body {
    font-size: 14px;
	font-family: sans-serif;
    width: 100%;
    background: #eff4fa;
    margin: 0 auto;
    max-width: 800px;
}

.back {
	float: right;
	display: inline-flex;
}

.back button {
	background: #d66700;
	color: rgb(2, 2, 2);
	border: none;
	border-radius: 10px; 
	font-weight: bold;
}
.back button:hover {
	background: rgb(189, 20, 20);
	color: black;
}


nav {
	margin: 40px 30px auto 0;
	position: relative;
	width: 312px;
	height: 50px;
	background-color: #2175bc;
	border-radius: 8px;
	font-size: 0;
    
}

nav a {
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-align: center;
	color: white;
    cursor: pointer;
    border-right: 1px solid rgb(221, 213, 213);
}
nav a:last-child{
    border-right: none;
}
nav  a:hover {
    background: #1b8129;
    border-radius: 8px;
    transition: all .3s;
}

a:nth-child(1) {
	width: 100px;
}
a:nth-child(2) {
	width: 110px;
}
a:nth-child(3) {
	width: 100px;
}

.focus {
    background: #1b8129;
    border-radius: 8px;
    transition: all .3s  
}

.login > p {
    font-weight: bold;
}

.id{
    font-weight: bold;
    color: #d66700;
    font-size: 12px;
}
a {
	color: #1375a7;
	font-weight: bold;
}

img {
    border: 2px solid black;
}

.imagen {
    float: right;  
}

.login  {
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}

.settings {
    font-size: 14px;
    font-weight: bold;
    color: #3a3d3ff5; 
}

form {
    padding: 35px 65px 20px;
	/* margin-top: 1px; */
}

form label {
    display: block;
    font-weight: bold;
    color: #3a3d3ff5;
    margin-bottom: 5px;
}
form input {
    width: 180px;
    height: 20px;
}
form div {
    margin-bottom: 10px;
}

.textarea {
    margin-top: 30px;
}
.enlace-boton a {
    margin-top: 10px;
    margin-left: 40px;
}
.boton {
    background: #1b8129;
    color: white;
    font-weight: bold;
    height: 30px;
    width: 70px;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    margin-left: 160px;
}

.boton:hover {
    background: #d66700;
    cursor: pointer;
}
